---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class = "row center">
        <h7 class = "header col s12 light"> Analytics Consulting</h7>
      <div>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
      <div class="row center">
        <a href="https://goo.gl/forms/MVAGZVI8gtSVTJYi1" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Local Attitude</h5>

            <p class="light">Our personable client-facing team is ready to work with you to meet your business needs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Analytics Expertise</h5>

            <p class="light">Our members have a wide range of knowledge on bleeding edge technology.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">show_chart</i></h2>
            <h5 class="center">Business Perspective</h5>

            <p class="light">Our focus is working with you to discover actionable business insights.</p>
          </div>
        </div>
      </div>
    </div>
    </div>


